<launch>

	<arg name="name"         default="robot_pose_publisher"/>
	<arg name="source_frame" default="bender/base_link"/>
	<arg name="target_frame" default="map"/>
	<arg name="tf_tolerance" default="0.5"/>

	<node pkg="bender_navigation_utils" type="pose_publisher" name="$(arg name)" ns="/bender/nav/">
		<param name="target_frame" value="$(arg target_frame)"/>
		<param name="source_frame" value="$(arg source_frame)"/>
		<param name="tf_tolerance" value="$(arg tf_tolerance)"/>
	</node>

</launch>
