<launch>

	<!-- Parametros -->
	<arg name="rviz"         default="true"/>
	<arg name="simulation"   default="false"/>
	<arg name="tf_gui"       default="false"/>
	<arg name="joy_number"   default="0"/>
	<arg name="model_type"   default="asus"/>
	<arg name="map_name"     default="map"/>
	<arg name="sim_world"    default="amtc"/>

	<include file="$(find bender_nav)/launch/navigation.launch">
		<arg name="slam"       value="false"            />
		<arg name="rviz"       value="$(arg rviz)"      />
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="tf_gui"     value="$(arg tf_gui)"    />
		<arg name="joy_number" value="$(arg joy_number)"/>
		<arg name="model_type" value="$(arg model_type)"/>
		<arg name="map_name"   value="$(arg map_name)"  />
		<arg name="sim_world"  value="$(arg sim_world)"/>
	</include>

</launch>
