<launch>

	<!-- Parametros -->
	<arg name="rviz"         default="true"/>
	<arg name="simulation"   default="false"/>
	<arg name="tf_gui"       default="false"/>

	<!-- Hardware -->
	<include file="$(find bender_core)/launch/hardware.launch">
		<arg name="simulation" value="$(arg simulation)"/>
		<arg name="tf_gui"     value="$(arg tf_gui)"/>
	</include>


	<!-- RVIZ -->
	<include file="$(find bender_utils)/launch/rviz.launch" if="$(arg rviz)"/>
	
</launch>
