<launch>

	<arg name="slam" default="false"/>

	<!-- gmapping para slam-->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" respawn="false" ns="/bender/nav/">

		<!-- Parameters -->
		<rosparam file="$(find bender_nav)/config/gmapping/gmapping.yaml" command="load"/>

		<!-- Slam parameters (for orange hokuyo laser!)-->
		<param name="maxUrange" type="double" value="28" if="$(arg slam)"/>
		<param name="maxRange"  type="double" value="30" if="$(arg slam)"/>
		<!-- use this for black hokuyo -->
		<!--
			<param name="maxUrange" type="double" value="4" if="$(arg slam)"/>
			<param name="maxRange" type="double" value="6" if="$(arg slam)"/>
		-->

		<!-- Remappings-->
		<remap from="scan" to="/bender/sensors/laser_front/scan"/>
		<remap from="map" to="/map"/>
		<remap from="map_metadata" to="/map_metadata"/>
		
	</node>

</launch>
