<launch>

	<!-- Parametros -->
	<arg name="slam"         default="false"/>
	<arg name="map_name"     default="map"/>
	<arg name="use_rgbd"     default="false"/>


	<!-- - - - L o c a l i z a t i o n - - - -->
	<group if="$(arg slam)">
		<!-- slam node -->
		<include file="$(find uchile_nav)/launch/localization/gmapping.launch.xml">
			<arg name="slam" value="true"/>
		</include>
	</group>
	<group unless="$(arg slam)">

		<!-- static map server -->
		<include file="$(find uchile_maps)/launch/map_server.launch">
			<arg name="map_name" value="$(arg map_name)"/>
		</include>

		<!-- amcl -->
		<include file="$(find uchile_nav)/launch/localization/amcl.launch.xml"/>

	</group>
	
	<!-- - - - - P l a n n i n g  - - - - -->
	<!-- Move_Base -->
	<include file="$(find uchile_nav)/launch/move_base.launch.xml">
		<arg name="slam" value="$(arg slam)"/>
		<arg name="use_rgbd" value="$(arg use_rgbd)"/>
	</include>

	<!-- Goal Server -->
	<include file="$(find uchile_nav)/launch/goal_server.launch.xml">
		<arg name="slam" value="$(arg slam)"/>
	</include>


	<!-- - - - T  o  o  l  s - - - -->

	<!-- non slam specific tools -->
	<group unless="$(arg slam)">

		<!-- Map analyzer -->
		<include file="$(find uchile_maps)/launch/map_analyzer.launch"/>

		<!-- amcl spreader-->
		<!-- DEPRECATED -->
		<!-- <include file="$(find uchile_navigation_utils)/launch/amcl_spreader.launch"/> -->

	</group>

</launch>
