<launch>

	<arg name="asus_scan" default="false"/>


	<group if="$(arg asus_scan)">
		<include file="$(find bender_perception_utils)/point_filters/pointcloud_to_laserscan/launch/pointcloud_to_laserscan.launch"/>
	</group>

	<node pkg="uchile_nav" type="low_level_safety_control.py" name="low_level_safety_control"/>
</launch>